<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ccs.opendfl.mysql.mapper.DflFrequencyMapper">
    <resultMap id="dflFrequencyMap" type="org.ccs.opendfl.mysql.dflcore.po.DflFrequencyPo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uri" property="uri" jdbcType="VARCHAR"/>
        <result column="uri_id" property="uriId" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="alias" property="alias" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="INTEGER"/>
        <result column="limit_count" property="limitCount" jdbcType="INTEGER"/>
        <result column="freq_limit_type" property="freqLimitType" jdbcType="INTEGER"/>
        <result column="white_code" property="whiteCode" jdbcType="VARCHAR"/>
        <result column="limit_type" property="limitType" jdbcType="VARCHAR"/>
        <result column="attr_name" property="attrName" jdbcType="VARCHAR"/>
        <result column="need_login" property="needLogin" jdbcType="NUMERIC"/>
        <result column="err_msg" property="errMsg" jdbcType="VARCHAR"/>
        <result column="err_msg_en" property="errMsgEn" jdbcType="VARCHAR"/>
        <result column="if_del" property="ifDel" jdbcType="NUMERIC"/>
        <result column="status" property="status" jdbcType="NUMERIC"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="INTEGER"/>
        <result column="modify_user" property="modifyUser" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="field">
        id
        ,
		uri, 
		uri_id, 
		code, 
		name, 
		alias, 
		time, 
		limit_count,
		freq_limit_type,
		white_code, 
		limit_type, 
		attr_name, 
		need_login, 
		err_msg, 
		err_msg_en, 
		if_del, 
		status, 
		create_time, 
		modify_time, 
		create_user, 
		modify_user
    </sql>

    <sql id="findByPage_where">
        <where>
            <trim suffixOverrides="and | or">
                <if test="id != null">id = #{id, jdbcType = INTEGER} and</if>
                <if test="uri != null">uri = #{uri, jdbcType = VARCHAR} and</if>
                <if test="uriId != null">uri_id = #{uriId, jdbcType = INTEGER} and</if>
                <if test="code != null">code = #{code, jdbcType = VARCHAR} and</if>
                <if test="name != null">name = #{name, jdbcType = VARCHAR} and</if>
                <if test="alias != null">alias = #{alias, jdbcType = VARCHAR} and</if>
                <if test="time != null">time = #{time, jdbcType = INTEGER} and</if>
                <if test="limitCount != null">limit_count = #{limitCount, jdbcType = INTEGER} and</if>
                <if test="freqLimitType != null">freq_limit_type = #{freqLimitType, jdbcType = INTEGER} and</if>
                <if test="whiteCode != null">white_code = #{whiteCode, jdbcType = VARCHAR} and</if>
                <if test="limitType != null">limit_type = #{limitType, jdbcType = VARCHAR} and</if>
                <if test="attrName != null">attr_name = #{attrName, jdbcType = VARCHAR} and</if>
                <if test="needLogin != null">need_login = #{needLogin, jdbcType = NUMERIC} and</if>
                <if test="errMsg != null">err_msg = #{errMsg, jdbcType = VARCHAR} and</if>
                <if test="errMsgEn != null">err_msg_en = #{errMsgEn, jdbcType = VARCHAR} and</if>
                <if test="ifDel != null">if_del = #{ifDel, jdbcType = NUMERIC} and</if>
                <if test="status != null">status = #{status, jdbcType = NUMERIC} and</if>
                <if test="createTime != null">create_time = #{createTime, jdbcType = TIMESTAMP} and</if>
                <if test="modifyTime != null">modify_time = #{modifyTime, jdbcType = TIMESTAMP} and</if>
                <if test="createUser != null">create_user = #{createUser, jdbcType = INTEGER} and</if>
                <if test="modifyUser != null">modify_user = #{modifyUser, jdbcType = INTEGER} and</if>
                <if test="keywords != null and keywords != ''">
                    and (
                    id like concat(concat('%', #{keywords}),'%')
                    or uri like concat(concat('%', #{keywords}),'%')
                    or uri_id like concat(concat('%', #{keywords}),'%')
                    or code like concat(concat('%', #{keywords}),'%')
                    or name like concat(concat('%', #{keywords}),'%')
                    or alias like concat(concat('%', #{keywords}),'%')
                    or time like concat(concat('%', #{keywords}),'%')
                    or limit_count like concat(concat('%', #{keywords}),'%')
                    or freq_limit_type like concat(concat('%', #{keywords}),'%')
                    or white_code like concat(concat('%', #{keywords}),'%')
                    or limit_type like concat(concat('%', #{keywords}),'%')
                    or attr_name like concat(concat('%', #{keywords}),'%')
                    or need_login like concat(concat('%', #{keywords}),'%')
                    or err_msg like concat(concat('%', #{keywords}),'%')
                    or err_msg_en like concat(concat('%', #{keywords}),'%')
                    or if_del like concat(concat('%', #{keywords}),'%')
                    or status like concat(concat('%', #{keywords}),'%')
                    or create_time like concat(concat('%', #{keywords}),'%')
                    or modify_time like concat(concat('%', #{keywords}),'%')
                    or create_user like concat(concat('%', #{keywords}),'%')
                    or modify_user like concat(concat('%', #{keywords}),'%')
                    )
                </if>
            </trim>
        </where>
    </sql>

    <select id="findByPageXML" parameterType="java.util.Map" resultMap="dflFrequencyMap">
        select
        <include refid="field"></include>
        from dfl_frequency
        <include refid="findByPage_where"></include>
        <choose>
            <when test="sidx != null">
                order by ${sidx} ${sord}, id desc
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="page != null and rows != null">
            limit ${startRows}, ${rows}
        </if>
    </select>

    <select id="findCountXML" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(1)
        from dfl_frequency
        <include refid="findByPage_where"></include>
    </select>

    <select id="findAllXML" parameterType="java.util.Map" resultMap="dflFrequencyMap">
        select
        <include refid="field"></include>
        from dfl_frequency
        <where>
            <trim suffixOverrides="and | or">
                <if test="id != null">id = #{id, jdbcType = INTEGER} and</if>
                <if test="uri != null">uri = #{uri, jdbcType = VARCHAR} and</if>
                <if test="uriId != null">uri_id = #{uriId, jdbcType = INTEGER} and</if>
                <if test="code != null">code = #{code, jdbcType = VARCHAR} and</if>
                <if test="name != null">name = #{name, jdbcType = VARCHAR} and</if>
                <if test="alias != null">alias = #{alias, jdbcType = VARCHAR} and</if>
                <if test="time != null">time = #{time, jdbcType = INTEGER} and</if>
                <if test="limitCount != null">limit_count = #{limitCount, jdbcType = INTEGER} and</if>
                <if test="freqLimitType != null">freq_limit_type = #{freqLimitType jdbcType = INTEGER} and</if>
                <if test="whiteCode != null">white_code = #{whiteCode, jdbcType = VARCHAR} and</if>
                <if test="limitType != null">limit_type = #{limitType, jdbcType = VARCHAR} and</if>
                <if test="attrName != null">attr_name = #{attrName, jdbcType = VARCHAR} and</if>
                <if test="needLogin != null">need_login = #{needLogin, jdbcType = NUMERIC} and</if>
                <if test="errMsg != null">err_msg = #{errMsg, jdbcType = VARCHAR} and</if>
                <if test="errMsgEn != null">err_msg_en = #{errMsgEn, jdbcType = VARCHAR} and</if>
                <if test="ifDel != null">if_del = #{ifDel, jdbcType = NUMERIC} and</if>
                <if test="status != null">status = #{status, jdbcType = NUMERIC} and</if>
                <if test="createTime != null">create_time = #{createTime, jdbcType = TIMESTAMP} and</if>
                <if test="modifyTime != null">modify_time = #{modifyTime, jdbcType = TIMESTAMP} and</if>
                <if test="createUser != null">create_user = #{createUser, jdbcType = INTEGER} and</if>
                <if test="modifyUser != null">modify_user = #{modifyUser, jdbcType = INTEGER} and</if>
            </trim>
        </where>
    </select>

    <select id="findByIdXML" parameterType="java.lang.String" resultMap="dflFrequencyMap">
        select
        <include refid="field"></include>
        from dfl_frequency
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insertXML" parameterType="org.ccs.opendfl.mysql.dflcore.po.DflFrequencyPo" useGeneratedKeys="true"
            keyProperty="id" flushCache="true">
        insert dfl_frequency
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uri != null">uri,</if>
            <if test="uriId != null">uri_id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="alias != null">alias,</if>
            <if test="time != null">time,</if>
            <if test="limitCount != null">limit_count,</if>
            <if test="freqLimitType != null">freq_limit_type,</if>
            <if test="whiteCode != null">white_code,</if>
            <if test="limitType != null">limit_type,</if>
            <if test="attrName != null">attr_name,</if>
            <if test="needLogin != null">need_login,</if>
            <if test="errMsg != null">err_msg,</if>
            <if test="errMsgEn != null">err_msg_en,</if>
            <if test="ifDel != null">if_del,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="modifyUser != null">modify_user,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType = INTEGER},</if>
            <if test="uri != null">#{uri, jdbcType = VARCHAR},</if>
            <if test="uriId != null">#{uriId, jdbcType = INTEGER},</if>
            <if test="code != null">#{code, jdbcType = VARCHAR},</if>
            <if test="name != null">#{name, jdbcType = VARCHAR},</if>
            <if test="alias != null">#{alias, jdbcType = VARCHAR},</if>
            <if test="time != null">#{time, jdbcType = INTEGER},</if>
            <if test="limitCount != null">#{limitCount, jdbcType = INTEGER},</if>
            <if test="freqLimitType != null">#{freqLimitType, jdbcType = INTEGER},</if>
            <if test="whiteCode != null">#{whiteCode, jdbcType = VARCHAR},</if>
            <if test="limitType != null">#{limitType, jdbcType = VARCHAR},</if>
            <if test="attrName != null">#{attrName, jdbcType = VARCHAR},</if>
            <if test="needLogin != null">#{needLogin, jdbcType = NUMERIC},</if>
            <if test="errMsg != null">#{errMsg, jdbcType = VARCHAR},</if>
            <if test="errMsgEn != null">#{errMsgEn, jdbcType = VARCHAR},</if>
            <if test="ifDel != null">#{ifDel, jdbcType = NUMERIC},</if>
            <if test="status != null">#{status, jdbcType = NUMERIC},</if>
            <if test="createTime != null">#{createTime, jdbcType = TIMESTAMP},</if>
            <if test="modifyTime != null">#{modifyTime, jdbcType = TIMESTAMP},</if>
            <if test="createUser != null">#{createUser, jdbcType = INTEGER},</if>
            <if test="modifyUser != null">#{modifyUser, jdbcType = INTEGER},</if>
        </trim>
    </insert>

    <update id="updateXML" parameterType="org.ccs.opendfl.mysql.dflcore.po.DflFrequencyPo" keyProperty="id">
        update dfl_frequency
        <set>
            <trim suffixOverrides=",">
                <if test="id != null">id = #{id},</if>
                <if test="uri != null">uri = #{uri},</if>
                <if test="uriId != null">uri_id = #{uriId},</if>
                <if test="code != null">code = #{code},</if>
                <if test="name != null">name = #{name},</if>
                <if test="alias != null">alias = #{alias},</if>
                <if test="time != null">time = #{time},</if>
                <if test="limitCount != null">limit_count = #{limitCount},</if>
                <if test="freqLimitType != null">freq_limit_type = #{freqLimitType},</if>
                <if test="whiteCode != null">white_code = #{whiteCode},</if>
                <if test="limitType != null">limit_type = #{limitType},</if>
                <if test="attrName != null">attr_name = #{attrName},</if>
                <if test="needLogin != null">need_login = #{needLogin},</if>
                <if test="errMsg != null">err_msg = #{errMsg},</if>
                <if test="errMsgEn != null">err_msg_en = #{errMsgEn},</if>
                <if test="ifDel != null">if_del = #{ifDel},</if>
                <if test="status != null">status = #{status},</if>
                <if test="createTime != null">create_time = #{createTime},</if>
                <if test="modifyTime != null">modify_time = #{modifyTime},</if>
                <if test="createUser != null">create_user = #{createUser},</if>
                <if test="modifyUser != null">modify_user = #{modifyUser},</if>
            </trim>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteXML" parameterType="java.lang.String">
        delete from dfl_frequency
        <where>
            id = #{id}
        </where>
    </delete>
</mapper>